*.iml
.gradle
/local.properties
.idea/
.vscode/
.codex/
.DS_Store
/build
/captures
/app/debug/
/app/release/
/app/google-services.json
/app/fabric.properties
/PlayStore/androidpublisher.dat
/PlayStore/client_secrets.json
/PlayStore/google-play-api-key.json
*.jks
*.keystore
